{#

Rich Text Block component

Usage:
  
{{ include('_partials/entry/_richText', { Parameters }) }}

Parameters:

- entry: The block object

Rich Text Block object model:

{% set entry = {
  rContent: 'HTML content',
} %}

#}
{# prettier-ignore-start #}
{% if entry is defined and entry and entry.rContent is defined and entry.rContent %}
  <div class="prose max-w-none">
    {{
      entry.rContent
      |retconSrcset([{ format: 'jpg' },{ format: 'webp' }], 'img', '100vw', true)
      |retconAttr('img', { loading: 'lazy' })
      |raw
    }}
  </div>
{% endif %}
{# prettier-ignore-end #}