{% extends '_layouts/_base_page_layout.twig' %}

{# prettier-ignore #}
{% block mainContent %}

  {# Page Header #}
  {% block pageHeader %}
    {{ include('_partials/_pageHeader', {
      title: entry.title ?? 'Page Title',
    }) }}
  {% endblock %}

  {# Page Content #}
  <div class="flex flex-col gap-8">
    {% block beforeContentBlocks %}{% endblock %}
    {% block contentBlocks %}
      {% set contentBlocks = entry.contentBlocks|default(null) %}

      {% if contentBlocks %}
        {{ contentBlocks.render() }}
      {% endif %}
    {% endblock %}

    {% block afterContentBlocks %}{% endblock %}
  </div>
{% endblock %}